@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lobster&family=Mochiy+Pop+P+One&family=Moo+Lah+Lah&family=Open+Sans:ital,wght@1,500&family=Permanent+Marker&family=Poppins:ital,wght@0,200;0,700;1,100;1,300;1,400;1,600;1,700&family=Source+Sans+Pro:ital,wght@1,700&family=Titillium+Web:wght@300;400;600;700&display=swap');
*{
    margin: auto;
    padding: auto;
}
.head{
   width: 100%;
    height: 100vh;
    background: rgb(255,0,177);
background: linear-gradient(90deg, rgba(255,0,177,1) 0%, rgba(223,0,247,1) 51%, rgba(161,0,255,1) 100%);
}
.menu ul{
    display: inline-flex;
    margin:30px;
    
}
.menu ul .active{
    margin-left: 550px;
    display: inline-flex;
    font-size: 25px;
    color: #fff;
    
}
.menu ul li{
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
    font-weight: 900;
    font-family:Lobster;
}
.logo img{
    width:150px;
   
}

.signup-btn{
    top:30px;
    right: 80px;
    position:absolute;
        text-decoration:none;
        color:#fff;
        border: 2px solid transparent ;
       border-radius: 20px;
       background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#FFC300,#FF5733);
       background-origin: border-box;
       background-clip: content-box,border-box;
    }
    .signup-btn span{
        display:block;
        padding: 8px 22px;
    }
    .banner{
        width: 80%;
        height: 70%;
        top: 15%;
        left: 300px;
        position: absolute;
        color: #fff;
    }
    .app-text{
        width: 50%;
        float: left;
    }
    .app-text h1{
        font-size:50px;
        width: 800px;
        position: relative;
        margin-left: 40px;
    }
    .app-text p{
        width: 650px;
        font-size: 15px;
        margin:30px 0 90px 40px;
        line-height:25px;
        font-weight: 600;
        color:#fff;
    }
    .app-picture{
        width: 50%;
        float: right;
    }
    .app-picture img{
        width: 80%;
        margin-top: -30px;
        padding-left:100px;
    }
    .play-btn{
        margin-left: 40px;
        display: inline-flex;
        }
        .play-btn-inner{
            height: 70px;
            width: 70px;
            border: 2px solid transparent ;
            border-radius: 50%;
            background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#FFC300,#19d7f8);
            background-origin: border-box;
            background-clip: content-box,border-box;
            text-align: center;
        }
        .play-btn-inner .fa-play{
            padding: 23px 0;
            font-size: 25px;
            cursor:pointer;
        }
        small{
            margin: auto 20px;
            cursor: pointer;
            font-size: 12px;
            color:#19dafa;
            letter-spacing: 3px;
        }

        /**about us */
        .about-us{
            height: 500px;
            background: url(image/scattered-forcefields\ \(2\).svg);
            display: flex;
           justify-content: center;
           align-items: center;
          width: 90%;
           margin: 0 auto;
        }
        .image-sec{
            display: flex;
            justify-content: center;
            align-items: center;
            
            flex: 1;
            flex-direction: row;
        }
        .image-sec img{
            height: 400px;
            border-radius: 10px;
            box-shadow: 2px 3px 4px;
        }
        .about-text{
            flex: 1;
            
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            text-align: center;
            
        }
        .about-text h1{
            font-family: Lobster;
            font-size: 45px;
            font-size: 52px;
  background: -webkit-linear-gradient(#eee, #2cda10);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
            padding: 20px;
        }
        .about-text .button-sec{
            padding: 25px;
        }
        .about-text .button-sec button{
            font-size: 18px;
            font-family: cursive;
            box-shadow: 2px 3px 4px ;
            padding: 10px 25px;
            border-radius: 10px;
            background: rgb(44,218,16);
background: linear-gradient(90deg, rgba(44,218,16,1) 0%, rgba(31,237,221,1) 100%);
        }

/**Counter */
.social{
    background-color: #8e44ad;
  color: #fff;
  font-family: 'Roboto Mono', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  overflow: hidden;
  margin: 0;
}
.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
  }
  
  .counter {
    font-size: 60px;
    margin-top: 10px;
  }
  
  @media (max-width: 580px) {
    body {
      flex-direction: column;
    }
  }
  
  /**SLider */
  .Slider{
      
    font-family: 'Open Sans', sans-serif;
    height: 50vh;
  }
  .slider-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
  
  .left-slide {
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
  }
  
  .left-slide > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  .left-slide h1 {
    font-size: 40px;
    margin-bottom: 10px;
    
  }
  
  .right-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;
  }
  
  .right-slide > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
  }
  
  button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
  }
  
  button:hover {
    color: #222;
  }
  
  button:focus {
    outline: none;
  }
  
  .slider-container .action-buttons button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
  }
  
  .slider-container .action-buttons .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .slider-container .action-buttons .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  

  /**Daily Post */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

.daily-post{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,89,29,0.9808298319327731) 50%, rgba(232,69,252,1) 100%);
}

.container{
  
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding:25px 20px;
}

.container .heading{

  font-size: 40px;
  margin-bottom: 20px;
  color:#334;
}

.container .box-container{
  margin-top: 450px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap:20px;
}

.container .box-container .box{
  background-color: #fff;
  padding:20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  display: none;
}

.container .box-container .box:nth-child(1),
.container .box-container .box:nth-child(2),
.container .box-container .box:nth-child(3){
  display: inline-block;
}

.container .box-container .box .image{
  margin-bottom: 20px;
  overflow: hidden;
  height: 250px;
  border-radius: 5px;
}

.container .box-container .box .image img{
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.container .box-container .box:hover .image img{
  transform: scale(1.1);
}

.container .box-container .box .content h3{
  font-size: 20px;
  color:#334;
}

.container .box-container .box .content p{
  font-size: 15px;
  color:#777;
  line-height: 2;
  padding:15px 0;
}

.container .box-container .box .content .btn{
  display: inline-block;
  padding:10px 30px;
  border:1px solid #334;
  color:#334;
  font-size: 16px;
}

.container .box-container .box .content .btn:hover{
  background-color: crimson;
  border-color: crimson;
  color:#fff;
}

.container .box-container .box .content .icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 15px;
  border-top:1px solid #334;
}

.container .box-container .box .content .icons span{
  font-size: 14px;
  color:#777;
}

.container .box-container .box .content .icons span i{
  color:crimson;
  padding-right: 5px;
}

#load-more{
  margin-top: 20px;
  display: inline-block;
  padding:13px 30px;
  border:1px solid #334;
  color:#334;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
}

#load-more:hover{
  background-color: crimson;
  border-color: crimson;
  color:#fff;
}

@media (max-width:450px){

  .container .heading{
    font-size: 25px;
  }

  .container .box-container{
    grid-template-columns: 1fr;
  }

  .container .box-container .box .image{
    height: 200px;
  }

  .container .box-container .box .content p{
    font-size: 12px;
  }

  .container .box-container .box .content .icons span{
    font-size: 12px;
  }

}